* {
  margin: 0;
  padding: 0;
  font-family: Monaco, monospace;
}

h1 {
  line-height: 60px;
}

.quiz-app {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.quiz-app .quiz-links-list {
  flex: 1 1 auto;
  max-width: 200px;
  margin: 0 10px;
}
.quiz-app .quiz-links-list a {
  display: block;
  line-height: 30px;
}
.quiz-app .music {
  margin: 0 10px;
}
.quiz-app .music iframe {
  width: 300px;
  height: 380px;
}
.quiz-app .video {
  min-width: 966px;
  flex: 1 1 auto;
  margin: 0 10px;
}
.quiz-app .video iframe {
  width: 966px;
  height: 543px;
  flex: 1 1 auto;
}
.quiz-app .btn-response {
  display: block;
  padding: 30px;
  font-size: 16px;
  cursor: pointer;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color 0.3s;
}
.quiz-app .btn-response:hover, .quiz-app .btn-response:focus {
  background-color: #27ae60;
}